<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <script src="~/wwwroot/js/jquery-3.3.1.min.js"></script>
    <script src="~/wwwroot/js/jquery-3.3.1.js"></script>
    <link rel="stylesheet" href="~/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/wwwroot/css/site.css" rel="stylesheet" />
    <link href="~/wwwroot/css/TopMenu.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <style>
        .menu li.active {
            background: #f76759;
        }

        .active {
            background: red !important;
        }
    </style>
</head>
<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                    </ul>
                </div>
            </div>
        </div>*@
    <ul class="menu cf" id="uiID" style="margin-top:30px;">
        <li class="@ViewBag.selectedResumeViewer"><a id="achrResumeViewer" href="#">@Html.ActionLink("Resume Viewer", "Index", "Grid")</a></li>

    </ul>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <div class="navbar-brand" style="margin-top: 15px; margin-left: 15px; height: 60px; font-weight: bold; font-size: 25px; color: darkblue;"> Welcome to Resume Matcher !! </div>

            </div>
            <div>
                <p class="nav navbar-text navbar-right" style="font-weight:bold;font-size:13px;color:white;">Hello, User !</p>
            </div>
        </div>

    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    <script src="~/Scripts/bootstrap.min.js"></script>

</body>
</html>